.todo-app {
    margin: 2rem auto 0 auto;
    max-width: 400px;
    padding: 0 10px;
}

.top-panel {
    margin: 1rem 0;
}

@media all and (max-width: 400px) {
    .top-panel {
        flex-wrap: wrap;
    }
}